@model HomeIndexRequestViewModel

@{
    ViewBag.Title = "Index";
    var newGames = Model.New;
    var active = Model.Active;
    var finished = Model.Finished;
}

<h2>Player @Model.UserName</h2>

<section class="game-section">
    <h3>New games</h3>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table>
        <tr>
            <th class="started-at">Started At
            </th>
            <th class="name-column">Player-O
            </th>
            <th></th>
        </tr>

        @foreach (var item in newGames)
        {
            <tr>
                <td class="started-at">
                    @Html.DisplayFor(modelItem => item.StartedAt)
                </td>
                <td class="name-column">
                    @Html.DisplayFor(modelItem => item.PlayerO)
                </td>
                <td>
                    @if (item.PlayerO != Model.UserName)
                    {
                        @Html.ActionLink("Play", "Accept", new { id = item.Id })
                    }
                </td>
            </tr>
        }

    </table>
</section>

<section class="game-section">
    <h3>Active games</h3>
    <table>
        <tr>
            <th class="started-at">Started At
            </th>
            <th class="name-column">Player-X
            </th>
            <th class="name-column">Player-O
            </th>
            <th></th>
        </tr>

        @foreach (var item in active)
        {
            <tr>
                <td class="started-at">
                    @Html.DisplayFor(modelItem => item.StartedAt)
                </td>
                <td class="name-column">
                    @Html.DisplayFor(modelItem => item.PlayerX)
                </td>
                <td class="name-column">
                    @Html.DisplayFor(modelItem => item.PlayerO)
                </td>
                <td>
                    @if (item.PlayerO == Model.UserName || item.PlayerX == Model.UserName)
                    {
                        @Html.ActionLink("Play", "Play", new { id = item.Id })
                    }

                </td>
            </tr>
        }

    </table>
</section>

<section class="game-section">
    <h3>Finished games</h3>
    <table>
        <tr>
            <th class="started-at">Started At
            </th>
            <th class="name-column">Player-X
            </th>
            <th class="name-column">Player-O
            </th>
            <th>Winner</th>
        </tr>

        @foreach (var item in finished)
        {
            <tr>
                <td class="started-at">
                    @Html.DisplayFor(modelItem => item.StartedAt)
                </td>
                <td class="name-column">
                    @Html.DisplayFor(modelItem => item.PlayerX)
                </td>
                <td class="name-column">
                    @Html.DisplayFor(modelItem => item.PlayerO)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Winner)
                </td>
            </tr>
        }

    </table>
</section>
